{% set transmission = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'transmission',
        'service': 'transmission-daemon',
        'config_folder': '/etc',
        'config_file': 'transmissiond.conf',
        'config_src': 'salt://transmission/files/settings.json.jinja',
		'user': 'transmission',
		'group': 'transmission',
    },
	'Arch': {
        'pkg': 'transmission-cli',
        'service': 'transmission',
        'config_folder': '/var/lib/transmission/.config/transmission-daemon',
        'config_file': 'settings.json',
        'config_src': 'salt://transmission/files/settings.json.jinja',
		'user': 'transmission',
		'group': 'transmission',
    },
}, grain="os_family", merge=salt['pillar.get']('transmission:lookup')) %}
